@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  width: 100%;
  background: #050505;
  color: white;
  overflow-x: hidden;
}

/* smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* remove default margins */
body {
  margin: 0;
}

/* optional: hide scrollbar for cinematic feel */
::-webkit-scrollbar {
  display: none;
}